:root {
  --Primrose: #f1eea1;
  --Chenin: #e2de7b;
  --Parchment: #2c3e50;
  --SpringWood: #FDFCFB;
  --Black: #000;
  --Red: #f00;
}

html,
body {
  background: var(--Primrose);
  box-sizing: border-box;
  color: var(--SpringWood);
  font-family: "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, georgia, serif, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

.app_container {
  display: flex;
  min-height: 90vh;
  width: 100%;
}

.app_content {
  background-color: var(--Parchment);
  padding: 20px;
}

@media (min-width: 640px) {
  .app_container {
    margin: 50px auto;
     width: 80%;
  }
}